@using Microsoft.AspNetCore.Blazor
@using Microsoft.AspNetCore.Blazor.Components
@using Microsoft.JSInterop

<style>
    .country-selector label {
        font-weight: bold;
    }
</style>

<div class="country-selector">
    <div class="form-group">
        <label for="@InputId()">@Label</label>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="@InputId()" bind="@SelectedCountry"
                   placeholder="@Placeholder" />
            <input type="text" id="@BuddyId()" onchange="@figa" bind="@Selected" />
            <div class="input-group-prepend">
                <button class="btn btn-lg btn-secondary" type="button" onclick="@GetCountryInfo">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        <small class="form-text text-muted">@Tip</small>
    </div>
</div>

@functions
{
    private string _selected = "figa";
    public string Selected
    {
        get { return _selected; }
        set
        {
            _selected = value; StateHasChanged();
        }
    }

    public string SelectedCountry;

    [Parameter]
    string UniqueId { get; set; } = "country-selector";

    [Parameter]
    string Label { get; set; } = "Country name";

    [Parameter]
    string TypeAheadUrl { get; set; } = "";

    [Parameter]
    string Tip { get; set; } = "";

    [Parameter]
    string Placeholder { get; set; } = "Country";

    string InputId()
    {
        return $"{UniqueId}-name";
    }

    string BuddyId()
    {
        return $"{UniqueId}-id";
    }

    void GetCountryInfo()
    {
        JSRuntime.Current.InvokeAsync<Task>("Ybq.alert", Selected);
        JSRuntime.Current.InvokeAsync<Task>("Ybq.alert", SelectedCountry);

        JSRuntime.Current.InvokeAsync<Task>("Ybq.val", $"#{BuddyId()}");
    }

    protected override void OnInit()
    {
        JSRuntime.Current.InvokeAsync<Task>("Ybq.typeAhead", $"#{InputId()}", $"#{BuddyId()}", TypeAheadUrl);
    }

    void figa(UIEventArgs eventArgs)
    {
        JSRuntime.Current.InvokeAsync<Task>("Ybq.alert", "Porocoddio");
        StateHasChanged();
    }

}
